src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="5a6f80f7-4486-4138-979d-078a5cfcd38c">
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="a78a260b-1864-41aa-914f-f1ad09747d36" variableName="airline" />
		<flow-ref doc:name="setCode" doc:id="f2695083-e3c9-48c1-a08d-f136cab5bef6" name="setCode" />
		<validation:is-true doc:name="Is true" doc:id="6d228116-bd59-4194-a7ab-859df03c534f" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_DESTINATION" />
		</validation:is-true>
		<choice doc:name="Choice" doc:id="b9faf288-3801-457b-9e09-7101c4f740f2">
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="e0fe4ec8-c612-48e8-87aa-83f90bd6296f" name="getAmericanFlights" />
			</when>
			<when expression='vars.airline == "united"'>
				<flow-ref doc:name="getUnitedFlights" doc:id="0bcd2484-ead1-4422-ae44-93a78a0a4e52" name="getUnitedFlights" />
			</when>
			<when expression='vars.airline == "delta"'>
				<flow-ref doc:name="getDeltaFlights" doc:id="1e08d9fa-90ad-483c-b30d-0901398a9a6e" name="getDeltaFlights" />
			</when>
			<otherwise>
				<flow-ref doc:name="Flow Reference" doc:id="1f563a65-3b11-49a7-9344-6b2d8d02f645" name="getAllAirlineFlows" />
			</otherwise>
		</choice>
	</flow>
	<flow name="getAmericanFlights" doc:id="f79e02ef-615e-4c3b-bf8f-e2bddfcae124" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="aea84fae-9153-49ad-b79e-faba5f0f1d5b" client-id="${american.client_id}" client-secret="${american.client_secret}" config-ref="American_Flights_API_Config" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="9a5d2976-709b-4352-bcdb-f1c4d8d3d41b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b226dabe-a632-488c-a746-401c46a1fd26" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f21b5147-3f4b-416a-87bf-dc0c9264c84e" type="AMERICAN-FLIGHTS-API:BAD_REQUEST">
				<ee:transform doc:name="No flights" doc:id="55657c01-f424-43dd-89ce-da4dfddf464a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No flights to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[200]" doc:name="httpStatus" doc:id="07e60744-1afb-459b-9c2c-0f313fbf74ea" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="setCode" doc:id="2c3ef243-fb5a-4c96-a276-6ee6fb24609e" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="e7b17d58-f649-41d4-b4e6-e24e019ca71a" variableName="code"/>
	</sub-flow>
	<flow name="getUnitedFlights" doc:id="e7eb1195-df6c-47a3-9311-f580d3d7dc21" >
		<http:request method="GET" doc:name="Get flights" doc:id="3c293c81-d624-4fa7-af4a-785b3335c432" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="51b8de27-c6d6-45d0-bc3e-b4fa36139b25" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1c722f4a-55cf-4862-98d4-9bc58adee095" />
	</flow>
	<flow name="getDeltaFlights" doc:id="457f0e31-8aff-49e9-a62b-190ca773859d">
		<ee:transform doc:name="Transform Message" doc:id="eb8b16ed-1b23-4e37-aa99-c4ebebf9a4bd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:id="69145810-3645-4728-88e5-16e5287053d6" config-ref="Web_Service_Consumer_Config" operation="findFlight" doc:name="Get flights" />
		<ee:transform doc:name="Transform Message" doc:id="a0c6c30e-3931-4815-8e19-cffa165ee703">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="029e27b9-4356-4a96-81f8-75e452b358dc" />
	</flow>
	<flow name="getAllAirlineFlows" doc:id="958939fe-6b8c-434c-a048-11017c318597" >
				<scatter-gather doc:name="Scatter-Gather" doc:id="e5a195c6-1dd3-4fd4-9984-80ad3c557837" >
			<route >
				<try doc:name="Try" doc:id="76d20bbc-8969-44d1-aeef-b6cb479b47f9" >
					<flow-ref doc:name="getAmericanFlights" doc:id="800a1ce5-e8e5-4a43-a466-319bd723f0bd" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="58855ae5-262d-4a0a-861c-8181d60da82c" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="34387dab-3941-495f-8134-a5c6437c971c" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="fddf8485-3ef4-4b6d-82eb-7e5e2db9c411" >
					<flow-ref doc:name="getUnitedFlights" doc:id="82000066-e4bd-40e3-9a0a-d23f13bb88a6" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6d4042b2-9972-41f6-a475-20fd2c710f25" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="fa71bd33-cdb5-4759-ad23-a64cafd4c780" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="32f9b3f3-3129-4dc3-ad16-f8ca9e253a71" >
					<flow-ref doc:name="getDeltaFlights" doc:id="dea86c01-b5a0-4f00-a78f-e3696de95b58" name="getDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d77417c6-6630-471c-8c3c-0ba1998ee9c7" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="05497161-01ae-4293-a65e-851dd0855774" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="208422ba-665c-4b4a-9b3b-8f8afe3c885e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b69e58bd-e5c0-4e74-9585-aed234f25883" />
	</flow>
</mule>
